* {
  margin: 0;
  padding: 0;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family:"Roboto";
  overflow-x: hidden;
  color: $text-primary;
  background-color: $color-white;
}