$font-weight-regular: 400;
$font-weight-bold: 700;


$color-white: #ffffff;
$color-black: #000000;

$text-primary: #4C4D5F;

$color-primary: #00B289;


$opacity-72: 0.72;
$opacity-67: 0.67;
$opacity-66: 0.66;
$opacity-61: 0.61;
$opacity-58: 0.58;
$opacity-55: 0.55;
$opacity-39: 0.39;

$border-1: 1px;
$border-2: 2px;

$radius-4: 4px;
$radius-5: 5px;
$radius-6: 6px;
$radius-7: 7px;
$radius-8: 8px;


$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;
$font-20: 20px;
$font-21: 21px;
$font-22: 22px;
$font-23: 23px;
$font-24: 24px;
$font-25: 25px;
$font-42: 42px;
$font-43: 43px;
$font-44: 44px;
$font-45: 45px;
$font-46: 46px;