.workspace {
  padding-top: 60px;
  padding-bottom: 103px;

  &__list {
    display: flex;
    gap:10%
  }

  &__feature {
    width: 343px;
    margin-left: 5%;
  }
}

.menu {
  width: 100%;
  list-style-type: none;
 
  &__item {
    display: flex;
    align-items: center;
    padding: 22px 20px 24px;
    gap: 26px;
    border: none;
    border-top: $border-1 solid $border-color;
    border-bottom: $border-1 solid $border-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 1px 1px 60px 0px $box-shadow;
      box-shadow: 0px 5px 15px 1px $color-primary;
    }
    
    &.active{
      background-color: $color-white;
      box-shadow: 1px 1px 60px 0px $box-shadow;
      border: none;
      background-image: url(../../images/menu-img-arrow-bg.svg);
      background-repeat: no-repeat;
      background-position: 94% center;
    }

    &.active2{
      background-color: $color-white;
      background-image: url(../../images/menu-img-arrow-bg.svg);
      background-repeat: no-repeat;
      background-position: 94% center;
    }
  }

  &__text {
    font-weight: $font-weight-regular;
    font-size: $font-22;
    line-height: 32px;
  }
}

.workspace {
  &__content {
    padding: 20px 246px 23px 0px;
    background-image: url(../../images/workspace-content-img-bg.png);
    background-repeat: no-repeat;
    background-position: 85% bottom;
  }

  &__title {
    font-weight: $font-weight-regular;
    font-size: $font-44;
    line-height: 44px;
    margin-bottom: 15px;
  }

  &__text {
    max-width: 356px;
    font-weight: $font-weight-regular;
    font-size: $font-22;
    line-height: 32px;
    color: rgb($text-primary,$opacity-58);
    margin-bottom: 86px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: $font-weight-bold;
    font-size: $font-16;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-radius: $radius-8;
    color: $color-primary;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 1px 5px 10px 2px $color-primary;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}
